body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  border-top: none;
}

.tc {
  display: none;
  border-top: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 9px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: grey;
}

a {
  text-decoration: none;
  color: rgb(206, 203, 203)
}

a:hover {
  color: rgb(136, 133, 133)
}
