<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
<script src="{{url_for('static', filename='main.js')}}"></script>
<title>{{countryname}}</title>
</head>
<body>

<div class="tab">
  {% for country in countryorder %}
      <button class="tablinks" onclick="window.location.replace('https://tablepython.vulcanwm.repl.co/data/{{country}}')">{{country}}</button>
  {% endfor %}
</div>
{% for country in countries %}
  {% if country == countryname %}
    <h2>{{country}}</h2>
    {% for time in times %}
	    <li><a href="https://tablepython.vulcanwm.repl.co/data/{{country}}/{{time}}">{{time}}</a></li>
    {% endfor %}
  {% endif %}
{% endfor %}
</body>
</html> 