<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
<script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>

<div class="tab">
  {% for country in countryorder %}
      <button class="tablinks" onclick="window.location.replace('https://tablepython.vulcanwm.repl.co/data/{{country}}')">{{country}}</button>
  {% endfor %}
</div>
{% for country in countries %}
  {% if country == countryname %}
    <h2>{{country}}</h2>
    {% for time in times %}
      <li><a href="https://tablepython.vulcanwm.repl.co/data/{{country}}/{{time}}">{{time}}</a></li>
      {% if time == timename %}
        <h3>{{time}}</h3>
        <table id="myTable">
          <tr>
            <th onclick="sortTable(0)">Ticker</th>
            <th onclick="sortTable(1)">Name</th>
            <th onclick="sortTable(2)">Segment</th>
            <th onclick="sortTable(3)">Industry</th>
            <th onclick="sortTable(4)">MomentumInd3M</th>
            <th onclick="sortTable(5)">Positive3M</th>
            <th onclick="sortTable(6)">Negative3M</th>
            <th onclick="sortTable(7)">ID3M</th>
            <th onclick="sortTable(8)">Low</th>
            <th onclick="sortTable(9)">EquityAmount</th>
            <th onclick="sortTable(10)">CCY</th>
            <th onclick="sortTable(11)">P_E</th>
            <th onclick="sortTable(12)">AnnualDiviYield</th>
            <th onclick="sortTable(13)">EMA52-208Ratio</th>
            <th onclick="sortTable(14)">Average_P_E</th>
          </tr>
          {% for stock in alldata %}
            <tr>
              <td>{{stock[0]}}</td>
              <td>{{stock[-1]}}</td>
              <td>{{stock[-2]}}</td>
              <td>{{stock[-3]}}</td>
              <td>{{stock[3]}}</td>
              <td>{{stock[4]}}</td>
              <td>{{stock[5]}}</td>
              <td>{{stock[6]}}</td>
              <td>{{stock[7]}}</td>
              <td>{{stock[8]}}</td>
              <td>{{stock[9]}}</td>
              <td>{{stock[10]}}</td>
              <td>{{stock[11]}}</td>
              <td>{{stock[12]}}</td>
              <td>{{stock[13]}}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</body>
</html> 