<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
<script src="{{url_for('static', filename='main.js')}}"></script>
<meta name="author" content="VulcanWM">
<meta name="description" content="Ticker Information for different countries and dates">
<title>Ticker Information</title>
</head>
<body>

<div class="tab">
  {% for country in countryorder %}
      <button class="tablinks" onclick="window.location.replace('https://tablepython.vulcanwm.repl.co/data/{{country}}')">{{country}}</button>
  {% endfor %}
</div>
</body>
</html> 